@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Bell MT;
    src: url(bell-mt.ttf) format("truetype"), url(bell-mt.eot) format("truetype"), url(bell-mt.otf) format("truetype"), url(bell-mt.woff) format("truetype"), url(bell-mt.woff2) format("truetype")
  }
}

:root {
    --duration: 3s;
    --easing: linear;
    --delay: 0s;
}

.tailwind-style {
    position: relative;
    color: white;
    background-color: #5a812f;
    overflow: hidden;
}
.shine {
    position: absolute;
    top: 0; left: 0;
    width: 300px;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255,0);
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 25%,
        rgba(255, 255, 255, .5) 50%,
        rgba(255, 255, 255, 0) 75%
    );
    transform: skewX(-20deg) translateX(-100%);
    animation: var(--duration) var(--easing) var(--delay) infinite forwards shine;
}

@keyframes shine { 
    20%, 100% { transform: translateX(150%); }
}

.font-color {
  color: #2b3a1d;
}

.font-bell {
  font-family: Bell MT;
}

.image-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  justify-content: center;
  gap: 10px;
}

.block {
  margin: 0 auto;
}

.mt-16 svg {
  display: inline-block;
  vertical-align: middle;
}

.wallet {
  display: inline-block;
}

.all-bg {
  background-image: url("/all-bg-new.png");
}

.bg-1 {
  background-image: url("/gambar1.png");
  background-size: cover;
  background-position: center;
  width: 767px;
  height: 1363px;
}

.bg-2 {
  background-image: url("/gambar2.png");
  /* background-size: cover;
  background-position: center;
  width: 767px;
  height: 1363px; */
}

.bg-3 {
  background-image: url("/gambar3.png");
  /* background-size: cover;
  background-position: center;
  width: 767px;
  height: 1363px; */
}

.bg-4 {
  background-image: url("/gambar4.png");
  /* background-size: cover;
  background-position: center;
  width: 767px;
  height: 1363px; */
}

.bg-5 {
  background-image: url("/gambar5.png");
  /* background-size: cover;
  background-position: center;
  width: 767px;
  height: 1363px; */
}

.bg-6 {
  background-image: url("/gambar6.png");
  /* background-size: cover;
  background-position: center;
  width: 767px;
  height: 1363px; */
}

.svg-bg-1 {
  background-image: url("/bahan11.svg");
  /* background-size: cover;
    background-position: center;
    width: 767px;
    height: 1363px; */
}

.svg-bg-2 {
  background-image: url("/bahan2.svg");
}

.svg-bg-3 {
  background-image: url("/bahan3.svg");
}

.svg-bg-4 {
  background-image: url("/bahan4.svg");
}

.svg-bg-5 {
  background-image: url("/bahan5.svg");
}

.svg-bg-6 {
  background-image: url("/bahan6.svg");
}

.svg-bg-7 {
  background-image: url("/bahan7.svg");
}

@media screen and (max-width: 767px) {
}
